.auth-page {
    display: flex;
    min-height: 100vh;
    position: relative;
}

.auth-sidebar {
    width: 460px;
    background-color: #d8dcc7;
    padding: 24px;
}

.auth-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-page--signup .auth-sidebar {
    order: 0;
}

.auth-page--signup .auth-main {
    order: 1;
}

.auth-page--login .auth-sidebar {
    order: 1;
}

.auth-page--login .auth-main {
    order: 0;
}

.back-button {
    position: absolute;
    top: 24px;
    left: 180px;

    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}


.auth-card {
    width: 100%;
    max-width: 480px;
    padding: 40px 32px 32px;
}

.auth-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* 각 필드 */
.form-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-label {
    font-size: 14px;
}

.form-input {
    border-radius: 999px;
    border: 1px solid #e0e0d8;
    padding: 10px 14px;
    font-size: 14px;
    outline: none;
    background-color: #f9f9f3;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.form-input:focus {
    border-color: #a7b695;
}

.error-message {
    min-height: 16px;
    font-size: 12px;
    color: #d9534f;
    padding-left: 4px;
}

.primary-button {
    margin-top: 8px;
    width: 100%;
    border-radius: 999px;
    border: none;
    padding: 10px 14px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d8dcc7;
    color: #ffffff;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.primary-button:disabled {
    cursor: default;
    background-color: #d8dcc7;
}

.primary-button--active {
    background-color: #a7b695;
}

.auth-footer-text {
    margin-top: 24px;
    text-align: center;
    font-size: 13px;
}

.auth-link {
    font-weight: 600;
    text-decoration: underline;
}
